<h1>Esta es mi pagina 1</h1>
<div >
    <form>
        Nombre: <input type="text" ng-model="nombre" placeholder="Pepito" required/><br>
        Email: <input type="email" ng-model="email" placeholder="hola@holamundo.es" required/><br>
        Comentario: <input type="text"  ng-model="comentario"/><br>
        <button type="submit">Submit</button><br>
    </form>
    <div>
        {{nombre}}<br>
        {{email}}<br>
        {{comentario}}
    </div>
    <span>
        {{miNombre}}
    </span>
</div>